@model List<MatchModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model[0].HomeTeamId)</th>
        <th>@Html.DisplayNameFor(model => model[0].AwayTeamId)</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.HomeTeamScore</td>
            <td>@x.AwayTeamScore</td>
        </tr>
    }
</table>