@model List<MatchModel>

<h1>Match Schedule</h1>

<table class="table">
    <thead>
        <tr>
            <th>Match ID</th>
            <th>Home team score</th>
            <th>Away team score</th>
            <th>Date of a game</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
            <tr>
                <td>@match.Id</td>
                <td>@match.HomeTeamScore</td>
                <td>@match.AwayTeamScore</td>
                <td>@match.Date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>